// Place all the styles related to the Newsfeed controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.newsfeed {
  width: 100%; 
  table-layout:fixed;
}

th {
  background-color:#999999
}

th.narrow {
  width: 10%;
}

th.lessnarrow {
  width: 15%;
}

th.medium {
  width: 20%;
}

th.wide {
  width: 40%;
}

td {
  vertical-align: top;
  word-wrap: break-word;
}

tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: #e0e0e0;
}

tr:hover {
  background-color:lightyellow;
}
